<div class="bs-component">
  <div class="list-group">
    <div class="list-group-item active">
      <strong>Bookmarks</strong>
    </div>
    {{#each bookmarks as |bookmark|}}
      <div class="list-group-item">
        <div class="row">
          <div class="col-md-4">
            <strong><a href="{{bookmark.bookmarkLink}}">{{bookmark.title}}</a></strong>
          </div>
          <div class="col-md-4">
            <strong> - {{bookmark.link}} - </strong>
          </div>
          <div class="col-md-4">
            {{link-to "Edit Bookmark" "bookmarks.bookmark" bookmark class="btn btn-warning full-width"}}
          </div>
        </div>
      </div>
    {{else}}
      {{#link-to "bookmarks.new" class="btn btn-success btn-large"}}
        <span class="glyphicon glyphicon-plus"></span> New Bookmark
      {{/link-to}}
    {{/each}}
  </div>
</div>
{{yield}}
