{{yield}}
<form class="form-horizontal" {{action "submit" on="submit"}}>
  <div class="form-group">
    <label for="story-name">Story Name</label>
    {{input value=story.name class="form-control modal-input" id="story-name"}}
  </div>
  <div class="form-group">
    <label for="story-description">Description</label>
    {{input value=story.description class="form-control modal-input" id="story-description"}}
  </div>
  <div class="form-group">
    <label for="story-points">Points</label>
    <span class="modal-input">{{view "select" content=points value=story.points id="story-points" class="form-control"}}</span>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
