{{dashboard-project-header project=model}}
<div class="row">
  <div class="col-lg-3">
    {{#draggable-dropzone dropped="changeState" stateColumn = "icebox"}}
      {{dashboard-story-panel storyType="Icebox" stories=model.icebox}}
    {{/draggable-dropzone}}
  </div>
  <div class="col-lg-3">
    {{#draggable-dropzone dropped="changeState" stateColumn = "todo"}}
      {{dashboard-story-panel storyType="Todo" stories=model.todo}}
    {{/draggable-dropzone}}
  </div>
  <div class="col-lg-3">
    {{#draggable-dropzone dropped="changeState" stateColumn = "doing"}}
      {{dashboard-story-panel storyType="Doing" stories=model.doing}}
    {{/draggable-dropzone}}
  </div>
  <div class="col-lg-3">
    {{#draggable-dropzone dropped="changeState" stateColumn = "done"}}
      {{dashboard-story-panel storyType="Done" stories=model.done}}
    {{/draggable-dropzone}}
  </div>
</div>


{{outlet}}
